@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{--gray:#dddddd;--black:#181818;--white:#ffffff;--primary:#FFA832; --boxshadow: 0px 3px 6px rgba(0, 0, 0, 0.16);}
input{padding: 5px 10px; border: 1px solid var(--gray);}

.body{background: var(--white); color: var(--black);}
.container{max-width: 1280px; margin: 0 auto; padding: 0 15px;}
.w-full{width: 100%;}
.w-75{width: 75%;}
.w-50{width: 50%;}
.w25{width: 25%;}
.flex{display: flex;}
.items-center{align-items: center;}
.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.fwrap{flex-wrap: wrap;}
.commonbtn {font-size: 14px;text-transform: capitalize;background: var(--primary);color: var(--white);padding: 8px 15px;border-radius: 20px;transition: all 0.4s ease-in-out;
    &:hover{filter: brightness(1.2);}
}


.controlBtn {position: absolute;left: 15px;bottom: 50%;z-index: 1;font-size: 25px;background: var(--primary);height: 46px;width: 46px;display: flex;align-items: center;justify-content: center;color: var(--white);border-radius: 50%;
    &.controlBtn1 {left: inherit;right: 15px;}
}